<body>
    <app-header></app-header>
    <div class="main-wrapper">
        <div class="wrapper">
            <div class="computer">
                <div class="card">
                    <div class="card-body">
                        <div class="wrap-form-group">
                            <div class="column-form-group">
                                <div class="form-group">
                                    <img id="avatarImage" src="../../assets/images/foot.jpg" width="300px" height="200px" alt="Logo">
                                </div>
                            </div>
                            <div class="column-form-group">
                                <div class="form-group">
                                    <h1 style="color: white;"><u>{{ eventInfo.name }}</u></h1>
                                </div>
                            </div>
                        </div>
                        <div class="wrap-form-group">
                            <div class="column-form-group">
                                <div class="form-group">
                                    <p>Prix: {{ eventInfo.price }}€</p>
                                </div>
                            </div>
                            <div class="column-form-group">
                                <div class="form-group">
                                    <p>Date : {{ eventInfo.date }}</p>
                                </div>
                            </div>
                            <div class="column-form-group">
                                <div class="form-group">
                                    <p>Thème : {{ eventInfo.theme }}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="list"><u>Liste des noms utilisateurs ayant ajouté en favoris cet évènement :</u></p>
                            <ul class="list">
                                <li>Fralito</li>
                                <br>
                                <li>Meazow</li>
                                <br>
                                <li>JojoBG</li>
                                <br>
                                <li>KevBret</li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <button (click)="navigateTo('/user-homepage/' + username + '/event-edit/' + eventId)">Editer</button>
                            <button type="submit">Ajouter aux favoris</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>