<body>
    <app-header></app-header>
    <div class="main-wrapper">
        <div class="wrapper">
            <div class="computer">
                <div class="card">
                    <div class="card-body">
                        <div class="wrap-form-group">
                            <div class="column-form-group">
                                <div class="form-group">
                                    <img id="eventImage" [src]="themeImages[theme]" *ngIf="themeImages[theme]" width="250px" height="200px" alt="">
                                </div>
                            </div>
                            <div class="column-form-group">
                                <div class="form-group">
                                    <h1 style="color: white;"><u>{{ name }}</u></h1>
                                </div>
                            </div>
                        </div>
                        <div class="wrap-form-group">
                            <div class="column-form-group">
                                <div class="form-group">
                                    <p>Prix: {{ price }}€</p>
                                </div>
                            </div>
                            <div class="column-form-group">
                                <div class="form-group">
                                    <p>Date : {{ date }}</p>
                                </div>
                            </div>
                            <div class="column-form-group">
                                <div class="form-group">
                                    <p>Thème : {{ theme }}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="list"><u>Liste des noms utilisateurs ayant ajouté en favoris cet évènement :</u></p>
                            <ul class="list" *ngFor="let favorite of favorites">
                                <li>{{ favorite }}</li>
                                <br>
                            </ul>
                        </div>
                        <div class="button-container">
                            <button (click)="navigateTo('/user-homepage/' + username + '/event-edit/' + eventId)">Editer</button>
                            <button (click)="addEventInFavorite(eventId)" [disabled]="buttonClicked">Ajouter aux favoris</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>