<div class="header">
    <div class="header-container" *ngIf="AuthentOrConnectionPage(currentUrl) === true">
        <img class="logo-and-button" [src]="logo.image" [title]="logo.title" [style.width.px]="logo.imageWidth">
    </div>
    <div *ngIf="AuthentOrConnectionPage(currentUrl) === false">
        <div class="computer">
            <img class="logo-and-button" (click)='navigateTo("/user-homepage/"+username)' [src]="logo.image" [title]="logo.title" [style.width.px]="logo.imageWidth">
            <a class="logo-and-button" (click)='navigateTo("/user-homepage/"+username)' style="cursor: pointer;">Accueil</a>
            <a class="logo-and-button" (click)="navigateTo('/user-homepage/' + username + '/event-add')" style="cursor: pointer;">Ajouter un événement</a>
            <a class="logo-and-button" (click)="navigateTo('/user-homepage/' + username + '/conversation')" style="cursor: pointer;">Conversation</a>
            <button mat-menu-item class="logo-button-account" [matMenuTriggerFor]="monCompte" style="cursor: pointer;">Mon compte</button>
            <mat-menu #monCompte="matMenu" class="filesList">
                <button mat-menu-item (click)="navigateTo('/user-homepage/' + username + '/account')" style="cursor: pointer;">Voir mon profil</button>
                <button mat-menu-item (click)='navigateTo("/home")' style="cursor: pointer;">Se déconnecter</button>
            </mat-menu>
        </div>
        <div class="smartphone">
            <button mat-icon-button class="mat-menu-panel" [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="filesList">
                <button mat-menu-item (click)='navigateTo("/user-homepage/"+username)'>Accueil</button>
                <button mat-menu-item (click)="navigateTo('/user-homepage/' + username + '/event-add')">Ajouter un événement</button>
                <button mat-menu-item (click)="navigateTo('/user-homepage/' + username + '/conversation')">Conversation</button>
                <button mat-menu-item [matMenuTriggerFor]="monCompte">Mon compte</button>
              </mat-menu>
              <mat-menu #monCompte="matMenu" class="filesList">
                <button mat-menu-item (click)="navigateTo('/user-homepage/' + username + '/account')">Voir mon profil</button>
                <button mat-menu-item (click)='navigateTo("/home")'>Se déconnecter</button>
              </mat-menu>
            <img class="logo-and-button" (click)='navigateTo("/user-homepage/"+username)' [src]="logo.image" [title]="logo.title" [style.width.px]="logo.imageWidth">
            <button mat-icon-button class="mat-menu-panel" [matMenuTriggerFor]="monCompte">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </div>
</div>

