<div class="wrapper">
    <div class="card">
        <div class="dense-2">
            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Nom de l'événement</mat-label>
                <input matInput type="text" [(ngModel)]="eventName">
                  <button matSuffix mat-icon-button *ngIf="eventName" aria-label="Clear" (click)="eventName=''">
                    <mat-icon>close</mat-icon>
                  </button>
            </mat-form-field>
        </div>
        <div class="dense-2">
            <mat-form-field appearance="outline" class="example-margin example-width">
                <mat-label>Prix minimum</mat-label>
                <input matInput type="number" [(ngModel)]="min">
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-margin example-width">
                <mat-label>Prix maximum</mat-label>
                <input matInput type="number" [(ngModel)]="max">
              </mat-form-field>
        </div>
        <div class="dense-2">
            <mat-form-field appearance="outline" class="example-width">
                <mat-label>Thème</mat-label>
                <mat-select [(ngModel)]="theme">
                    <mat-option value="">Tous les thèmes</mat-option>
                    <mat-option value="Sport">Sport</mat-option>
                    <mat-option value="Culture">Culture</mat-option>
                    <mat-option value="Festif">Festif</mat-option>
                    <mat-option value="Pro">Pro</mat-option>
                    <mat-option value="Autres">Autres</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button type="button" (click)="filterEvents()">Filtrer</button>
    </div>
</div>
<div class="wrapper">
    <div class="card">
        <div style="margin: auto;"><p>Nom de l'événement</p></div>
        <div style="margin: auto; display: flex;">
            <div style="display: contents;">
                <p>Prix</p>
                <button type="button" (click)="sortEvents('price')" class="sort-button">
                    <mat-icon>swap_vert</mat-icon>
                </button>
            </div>
        </div>
        <div style="margin: auto; display: flex;">
            <div style="display: contents;">
                <p>Date</p>
                <button type="button" (click)="sortEvents('price')" class="sort-button">
                    <mat-icon>swap_vert</mat-icon>
                </button>
            </div>
        </div>
        <div style="margin: auto;"><p>Thème</p></div>
    </div>
</div>
<div class="wrapper" *ngFor="let event of filteredEvents">
    <div class="card" (click)="navigateTo('/user-homepage/' + username + '/event-detail/' + event._id)">
        <div class="card-image">
            <img id="eventImage" [src]="themeImages[event.theme]" *ngIf="themeImages[event.theme]" width="150px" height="100px" alt="">
            <p>{{ event.name }}</p>
        </div>
        <div style="margin: auto; display: flex;">
            <p>{{ event.price }}€</p>
        </div>
        <div style="margin: auto; display: flex; margin-right: 50px;">
            <p>{{ event.date }}</p>
        </div>
        <div style="margin: auto; margin-right: 55px;">
            <p>{{ event.theme }}</p>
        </div>
    </div>
</div>