<div class="wrapper">
    <div class="card">
        <div class="dense-2">
            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Nom de l'événement</mat-label>
                <input matInput type="text" [(ngModel)]="eventName">
                  <button matSuffix mat-icon-button *ngIf="eventName" aria-label="Clear" (click)="eventName=''">
                    <mat-icon>close</mat-icon>
                  </button>
            </mat-form-field>
        </div>
        <div class="dense-2">
            <mat-form-field appearance="outline" class="example-margin example-width">
                <mat-label>Prix minimum</mat-label>
                <input matInput type="number" [(ngModel)]="min">
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-margin example-width">
                <mat-label>Prix maximum</mat-label>
                <input matInput type="number" [(ngModel)]="max">
              </mat-form-field>
        </div>
        <div class="dense-2">
            <mat-form-field appearance="outline" class="example-width">
                <mat-label>Thème</mat-label>
                <mat-select>
                  <mat-option value="one">Sport</mat-option>
                  <mat-option value="two">Culture</mat-option>
                  <mat-option value="three">Festif</mat-option>
                  <mat-option value="four">Pro</mat-option>
                  <mat-option value="five">Autres</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button type="submit">Filtrer</button>
    </div>
</div>
<div class="wrapper">
    <div class="card">
        <div style="margin: auto;"><p>Nom de l'événement</p></div>
        <div style="margin: auto; display: flex;">
            <div style="display: contents;">
                <p>Prix</p>
                <button type="submit" class="sort-button">
                    <mat-icon>swap_vert</mat-icon>
                </button>
            </div>
        </div>
        <div style="margin: auto; display: flex;">
            <div style="display: contents;">
                <p>Date</p>
                <button type="submit" class="sort-button">
                    <mat-icon>swap_vert</mat-icon>
                </button>
            </div>
        </div>
        <div style="margin: auto;"><p>Thème</p></div>
    </div>
</div>
<div class="wrapper" *ngFor="let event of events">
    <div class="card" (click)="navigateTo('/user-homepage/' + username + '/event-detail')">
        <div class="card-image">
            <img class="logo-and-button" [src]="logo.image" [title]="logo.title" [style.width.px]="logo.imageWidth">
            <p>{{ event.name }}</p>
        </div>
        <div style="margin: auto; display: flex;">
            <p>{{ event.price }}€</p>
        </div>
        <div style="margin: auto; display: flex; margin-right: 50px;">
            <p>{{ event.date }}</p>
        </div>
        <div style="margin: auto; margin-right: 55px;">
            <p>{{ event.theme }}</p>
        </div>
    </div>
</div>